<% include ./partials/header.ejs %>

  <body>
    <div class="container">

      <div style="padding: 40px;" class="display-4 text-center">
        Data Collector
      </div>

      <!-- <% if (successMessage !== undefined) { %>
        <div class="alert alert-success overflow-auto" role="alert">
          <p><%= successMessage %></p>
        </div>
      <% } %> -->

      <form action="/collect" method="POST">
        <div class="form-group">
          <label for="publicKey">Token</label>
          <input type="text" class="form-control" name="token" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter your bearer token (generated on the Token page).</small>
        </div>
        <div class="form-group">
          <label for="publicKey">Start Date</label>
          <input type="text" class="form-control" name="start" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter year, month, day, hour and minute sequentially. For example, 201807210000 is 12am on the 21st of July, 2018. </small>
        </div>
        <div class="form-group">
          <label for="privateKey">Finish Date</label>
          <input type="text" class="form-control" name="finish" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter year, month, day, hour and minute sequentially as above.</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Endpoint</label>
          <input type="text" class="form-control" name="endpoint"  value="https://api.twitter.com/1.1/tweets/search/fullarchive/YourEnvironment.json" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter the name of your development environment at the end of the URL. For example, "Dev.json".</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Max Tweets</label>
          <input type="text" class="form-control" name="maxTweets" value="500"/>
          <small id="publicKeyHelp" class="form-text text-muted">Enter the total amount of Tweets to be returned per request. For Premium Search, 500 is the maximum value. </small>
        </div>
        <div class="form-group">
          <label for="privateKey">Max Requests</label>
          <input type="text" class="form-control" name="maxRequests" value="10"/>
          <small id="publicKeyHelp" class="form-text text-muted">Enter an uppper limit for how many requests are utilised.</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Query</label>
          <input type="text" class="form-control" name="query" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter a query utilising the appropriate operators. For example, "#fashion, #trends". </small>
        </div>
        <input
          class="btn btn-primary"
          type="submit"
          name="submit"
          value="Submit"
        />      
      </form>
    </div>
  </body>
</html>