<% include ./partials/header.ejs %>

  <body>
    <div class="container">

      <div style="padding: 40px;" class="display-4 text-center">
        Data Collector (Twitter API v2 Beta)
      </div>

      <form action="/collect" method="POST">
        <div class="form-group">
          <label for="publicKey">Token</label>
          <input type="text" class="form-control" name="token" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter your bearer token. This can be generated on the Token page.</small>
        </div>
        <div class="form-group">
          <label for="publicKey">Start Date</label>
          <input type="text" class="form-control" name="start" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter year, month, day, hour, minute and second sequentially. For example, 2018-07-21T00:00:00Z is 12am on the 21st of July, 2018. </small>
        </div>
        <div class="form-group">
          <label for="privateKey">Finish Date</label>
          <input type="text" class="form-control" name="finish" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter year, month, day, hour, minute and second sequentially as above.</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Endpoint</label>
          <input type="text" class="form-control" name="endpoint"  value="https://api.twitter.com/2/tweets/search/all" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter the relevant endpoint. The auto-filled endpoint above is only available to <a href="https://developer.twitter.com/en/docs/projects/overview#product-track">approved academic research projects.</a></small>
        </div>
        <div class="form-group">
          <label for="privateKey">Max Tweets</label>
          <input type="text" class="form-control" name="maxTweets" value="500"/>
          <small id="publicKeyHelp" class="form-text text-muted">Enter the total amount of Tweets to be returned per request. 500 is the maximum value. </small>
        </div>
        <div class="form-group">
          <label for="privateKey">Max Requests</label>
          <input type="text" class="form-control" name="maxRequests" value="10"/>
          <small id="publicKeyHelp" class="form-text text-muted">Enter an upper limit for how many requests are made. We recommend limiting exploratory searches to 10 requests (i.e. a maximum of 5,000 Tweets).</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Query</label>
          <input type="text" class="form-control" name="query" />
          <small id="publicKeyHelp" class="form-text text-muted">Enter a query utilising <a href="https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query">appropriate operators.</a> For example, "#Trump".</small>
        </div>

        <div class="form-group">
          <label for="privateKey">Fields and Expansions</label>
          <select multiple class="form-control active" id="fields">
            <option selected>Tweet</option>
            <option selected>User</option>
            <option selected>Place</option>
            <option selected>Media</option>
            <option selected>Expansions</option>
          </select>
          <small id="publicKeyHelp" class="form-text text-muted"> <a href="https://developer.twitter.com/en/docs/twitter-api/fields">Fields</a> and <a href="https://developer.twitter.com/en/docs/twitter-api/expansions">Expansions</a> allow you to select just the data you want. We recommend selecting all the above options while carrying out data exploration.</small>
        </div>

        <input
          class="btn btn-primary"
          type="submit"
          name="submit"
          value="Submit"
        />      
      </form>
    </div>
  </body>
</html>