<% include ./partials/header.ejs %>

  <body>
    <div class="container">
      
      <div style="padding: 40px;" class="display-4 text-center">
        Bearer Token Generator
      </div>
      
      <% if (bearerToken !== undefined) { %>
        <div style="text-align: center; padding-bottom: 0%" class="alert alert-success overflow-auto" role="alert">
          <p><%= bearerToken %></p>
        </div>
      <% } %>

      <form action="/generate" method="POST">
        <div class="form-group">
          <label for="publicKey">Consumer Key</label>
          <input type="text" class="form-control" name="publicKey" />
          <small id="publicKeyHelp" class="form-text text-muted">Find your keys at: dev dashboard > apps > app details > keys and tokens.</small>
        </div>
        <div class="form-group">
          <label for="privateKey">Consumer Secret Key</label>
          <input type="text" class="form-control" name="secretKey" />
          <small id="publicKeyHelp" class="form-text text-muted"></small>
        </div>
        <input
          class="btn btn-primary"
          type="submit"
          name="submit"
          value="Submit"
        />      
      </form>
    </div>
  </body>
</html>