<% include ./partials/header.ejs %>
<html>
  <body>
    <div class="container">
      <div style="padding: 40px" class="display-4 text-center">
        Data Merger (Twitter API v2 Beta)
      </div>
      <p>
        Once data collection is complete, click the Merge Data button to
        generate a single JSON file containing all data. Only click Merge Data
        once otherwise you will have duplicate data. Once you've saved the
        results file, make sure to click Clear Data to reset the application.
      </p>
      <div style="width: 50%; margin: auto">
        <form action="/merge" method="POST" class="text-center">
          <input
            class="btn text-center btn-primary"
            type="submit"
            name="submit"
            value="Merge Data"
          />
        </form>

        <form
          action="/merge?_method=DELETE"
          method="POST"
          class="text-center"
          style="margin-top: 10px"
        >
          <input
            class="btn text-center btn-danger"
            type="submit"
            name="clear"
            value="Clear Data"
          />
        </form>
      </div>
    </div>
  </body>
</html>
