<% include ./partials/header.ejs %>
<html>
  <body>
    <div class="container">
      <div style="padding: 40px;" class="display-4 text-center">
        Data Merger
      </div>
      <p>
        Once data collection is complete, click the merge button below to
        generate a single JSON file containing all data collected.
      </p>
      <form action="/merge" method="POST" class="text-center">
        <input
          class="btn text-center btn-primary"
          type="submit"
          name="submit"
          value="Merge"
        />
      </form>
    </div>
  </body>
</html>
